.item-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-xlarge {
  font-size: 40px;
}

.text-large {
  font-size: 32px;
}

.text-medium {
  font-size: 24px;
}

.text-small {
  font-size: 20px;
}

.text-xsmall {
  font-size: 16px;
}

.text-xxsmall {
  font-size: 12px;
}

.font-gray {
  color: #cccccc;
}
